@model CarrosViewsModel

@{
    ViewData["Title"] = "Lista de Carros";
}

<h1>Lista de Carros</h1>

<a class="btn btn-primary" asp-controller="Home" asp-action="NovoCarro">Novo Carro</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Fabricante</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Ano</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var carros in this.Model.ListCarros)
            {
                <tr>
                    <td>@carros.Nome</td>
                    <td>@carros.Fabricante</td>
                    <td>@carros.Marca</td>
                    <td>@carros.Modelo</td>
                    <td>@carros.Ano</td>
                    <td>
                      <a class="btn btn-primary" asp-action="NovoCarro" asp-controller="Home" asp-route-id="@carros.Id">Editar</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" asp-action="Deletar" asp-controller="Home" asp-route-id="@carros.Id">Excluir</a>
                   </td>
                </tr>
            }
        }
    </tbody>
</table>
